:root{
    --blue1:#013661;
    --blue2:#8CCEEB;
    --blue3:#82ECFF;
    --blue4:rgb(204, 255, 255);
    --blue5:rgb(204, 255, 247);
}
*{
    margin:0;
    padding:0;
    font-family: 'Play',sans-serif;
}
.header{
    display: block;
    background-color:#2980B9;
    width: 100%;
    position: fixed;
    z-index: 1000;
}

.header img{
    display: block;
    width: 20%;
    margin:auto;
    padding: 10px;
}
.header h1{
    color: white;
    position: absolute;
    display: block;
    width: 10%;
    margin: 2% 47%;
    font-size: 16px
}
/* Star form-Login*/

.login{
    display: block;
    width: 100%;
    height:50%;
    margin-top: 160px;
    position: absolute;
}

.login form{
    display: block;
    width: 50%;
    margin:auto;
    margin-top:50px;
}
.h3{
    height: 30px;
    width: 50px;
    display: block;
    margin:auto;
}

.inp-txt{
    height: 30px;
    width: 50%;
    min-width: 200px;
    display: block;
    padding: 10px 15px;
    margin: auto;
    margin-top:10px;
    border: none;
    box-shadow: 0px 0px 7px #2384FF;
    
}

.inp-txt:focus{
    outline: 1px solid rgba(28, 62, 134, 0.534);
}

.btn-lg{
    height: 30px;
    width: 50%;
    margin-top: 20px !important;
    display: block;
    margin:auto;
}

.btn-lg input{
    display: block;
    margin:auto;
    height: 100%;
    width: 200px;
    border:none;
}

.btn-lg input:hover{
    background: #2384FF;
    outline: 4px solid rgba(63, 113, 221, 0.658);
}

.error{
    margin: 0 10%;
    padding: 10px 0;
    width: 30%;
    display: none;
    text-align: center;
    color: white;
    background: red;
    opacity: 0.75;
    border-radius: 1px 26px;
    position: absolute;
    top: 24px;
}
.error p{
    float: left;
    padding:0 12% ;
}
/* End form-Login*/


/*
* Style Header Home.
*/

header{
    display: block;
    width: 100%;
    height: 104px;
    position: fixed;
}

.container-header{
    background: rgb(0, 46, 105);
    border-bottom:4px #860000 solid;
    box-shadow: 0px 0px 7px rgb(0,0,0,.5);
}

.logo{
    width: 96px;
    margin: auto;
}

.content {
    position: absolute;
    margin-top:50px;
    width: 80%;
    height: 100%;
    margin: 5% 10%;
}

.content-center{
    width: 80%;
    margin: auto;
}
/*
* Style Footer home
*/

footer{
    position: fixed;
    display: block;
    width: 100%;
    border-top:4px #860000 solid;
    background-color: rgb(0, 46, 105);
    top:97%;
    height: 3%
}

.conten-text{
    width: 15%;
    margin:auto;
}

.conten-text a{
    color: darkgray;
    font-size: 10px;
    display: inline-block;
    text-decoration: none;
    font-style: none;
}

.conten-text a:nth-child(1){
    padding-right:10px;
}

/*
* Style Menu 
*/

.container-menu{
    display: block;
    position: relative;
    top:103px;
    height: 50px;
    z-index: 999;
}

.opt-user{
    background-color: #707070;
    position: relative;
    display: block;
    width: 100%;
    border-bottom:2px rgb(0, 46, 105) solid;
    box-shadow: 0px 0px 15px rgb(0,0,0,.7);
}

.opt-user a{
    color: white;
    text-decoration: none;
}
.btn-menu{
    position: absolute !important;
    background-color: rgb(0, 46, 105);
    padding:5px 20px;
    border-bottom-left-radius:100%;
    border-bottom-right-radius:100%;
    left:100px;
}
.btn-menu span,.btn-menu i{
    color:white;
    font-size: 12px;
    text-align: center;
    top: -5px !important;
    padding:0 3px;
}

.btn-menu i{
    font-size: 16px;
    animation-name:icon 2s infinite;
}

.btn-menu:hover{
    transition: .5s ease;
    cursor: pointer; 
}
.btn-op{
    margin-left:10px;
    padding:5px 10px;
    display: inline-block;
}
.btn-op a {
    font-size:15px;
    padding: 5px 10px;
    width: 100%;
    height: 100%;
}
.btn-op a:hover{
    color:#860000;
}

.container-body{
    background: var(--blue4);
    position: fixed;
    top:103px;
    width: 100%;
    height: 84%;
    overflow: hidden;
}

.content-table{
    margin-top:5% !important;
    width: 100%;
    margin: auto;
    display: block;
}

/*
* Tabla
*/
table{
    width: 100%; 
    border-collapse: collapse !important;
    border-spacing: 0 !important;
}
tbody{
    width: 100%;
}
.headtable{
    background: linear-gradient(to bottom, rgba(104,146,217,1) 0%, rgba(95,127,200,1) 58%, rgba(71,109,184,1) 59%, rgba(61,119,255,1) 100%);
    height: 40px;
    color:white;
    letter-spacing: 2px;
    font-size:14px;
}
.headtable th{
    padding:0 30px;
    font-weight: 500;
    
}
.headtable th:nth-child(1){
    width: 50%;
}
.headtable th:nth-child(2){
    width: 5%;
}
.headtable th:nth-child(3){
    width: 5%;
}
.headtable th:nth-child(4){
    width: 30%;
}
.headtable th:nth-child(5){
    width: 5%;
}
.headtable th:nth-child(6){
    width: 5%;
}
.btn-table-students{
    width: 100%;
    background-color: #013661;
    color: white;
    border: none;
    font-size: 20px;
    padding:4px 20px;
}
.btn-table-students:hover{
    color:#FF3434;
    cursor: pointer;
    background: white;
}
.bodytable{
    height: 40px;
    border:1px #860000 solid;
    background: var(--blue2);
}

.bodytable:hover{
    background:#2471A3;
    color:white; 
    box-shadow: 1px 1px 1px rgba(0,0,0,.5);
    -webkit-box-shadow: -1px 3px 18px 5px rgba(0,0,0,0.64);
    -moz-box-shadow: -1px 3px 18px 5px rgba(0,0,0,0.64);
    box-shadow: -1px 3px 10px 5px rgba(0,0,0,0.64);
}
.bodytable td{
    padding:0 15px;
}

.status400{
    display: block !important;
}